body {
  text-align: center;
  background-color: #dcf2ea;
}
.navBar {
  background-color: #308c72;
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  float: right;
  padding: 0 10px;
  text-decoration: none;
  color: #dcf2ea;
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav:hover {
  color: #f2a444;
}

.navTitle {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #f2a444;
  font-weight: 700;
  font-size: 20px;
}

.genreGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}

.genreImg {
  width: 100%;
  border-radius: 70px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border: 2px solid #f2a444;
}

.genreImg:hover {
  filter: grayscale(0%);
  border: 2px dashed #f2a444;
}

.bookGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}

.book img {
  width: 80%;
}

.book p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.book h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #f2a444;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

h4,
h5,
h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

button {
  margin: 3px;
  border-radius: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #308c72;
  color: #dcf2ea;
  border: 2px solid #f2a444;
}

button:hover {
  color: #308c72;
  background-color: #f2a444;
}

input {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 3px;
}
